.note-card {
    margin-bottom: 20px;
    color: rgb(255, 255, 255); /* Устанавливаем белый цвет текста */
  }
  
  .edit-modal {
    width: 100px;
  }
  
  .edit-modal .actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .edit-modal .actions button:first-child {
    margin-right: 10px;
  }
  